<div *ngIf="course">
  <div class="row" >
      <div id="first" class= "row">
        <p class="rowHeader"> {{course.title.toUpperCase()}} </p>
        <p class="rowWriting"> {{course.description}} </p>
        <button type="submit" value="Submit"
        class="mdl-button mdl-button--colored homeSignUp" [routerLink] = "['/home']">Get Started</button>
      </div>
  </div>
  <div class="row" *ngIf="course">
      <div id="second" class= "row">
        <h1 class="lowerHeader"> Why learn {{course.title}} </h1>
        <p class="rowWriting"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
           when an unknown printer took a galley of type and scrambled it to make a type specimen book.
           It has survived not only five centuries, but also the leap into electronic typesetting,
           remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
           sheets containing Lorem Ipsum passages, and more recently with desktop publishing software l
           ike Aldus PageMaker including versions of Lorem Ipsum. </p>
      </div>
  </div>
  <div id="syllabusRow" class="row" *ngIf="syllabus">
      <p class="pageHeader"> Syllabus </p>
              <div class="demo-card-wide mdl-card mdl-shadow--2dp" *ngFor="let content of syllabus" >
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">{{content[0]}}</h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris sagittis pellentesque lacus eleifend lacinia...
                  </div>
          </div>
  </div>
</div>
