
.homeSignUp{
	font-size: 20px;
	margin-top: 120px;
	height: 80px;
	width: 30%;
	text-align: center;
	left: 35%;
	color: white !important;
	background-color: #5E807F;
	border-radius: 8px;
}

.homeSignUp:hover{
	background-color: #8EB897;
}
