<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" *ngIf="courseService.onCourse()">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row"  >
      <!-- Title -->
      <span class="mdl-layout-title"><a [routerLink]="['/']">Byteplex</a></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a *ngIf="!authService.loggedIn()" class="mdl-navigation__link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/register']">Sign Up</a>
        <a *ngIf="!authService.loggedIn()" class="mdl-navigation__link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/login']">Login</a>
        <a *ngIf="authService.loggedIn()" class="mdl-navigation__link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/profile']">Profile</a>
        <a *ngIf="authService.loggedIn()" class="mdl-navigation__link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/dashboard']">Dashboard</a>
        <a *ngIf="authService.loggedIn()" class="mdl-navigation__link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" href="#" (click)='onLogoutClick()'>Logout</a>

      </nav>
    </div>
  </header>
</div>
